/* .box{
    color: black;
    background-color: aqua;
    height: 200px;
    width: 200px;
    border: 2px solid red;
    overflow: auto;
}

.h1{
    border: 1px solid rgb(11, 119, 119);
    float: right;
}
.h2{
    border: 1px solid black;
    float: left;
}
.h3{
    border: 1px solid rgb(209, 24, 24);
    clear: both;
}
span{
    border: 2px solid black;
    height: 150px;
    display: inline-block;
    width: 150px;
} */



/* css combinators */
/* 1. desendent selector space */
/* div p{
    color: blueviolet;
} */

/* 2.child selector */

/* div >p{
    color: brown; */
/* }
3.adjacent selector (+) */
/* div + p{
    color: chocolate;
} */

/* 4.general sibling selecttor (~) */
/* div~p{
    color: tomato ;
} */

/* psuedo class */
/* .box{
    background-color: aqua;
    height: 100px;
    width: 100px;
    color: black;
}
.box:hover{
    background-color: brown;
}
p:first-child{
    color: chartreuse;
}
p:nth-child(odd){
    color: crimson;
} */

/* psuedo element */
/* *{
    margin: 20px;
}
p::first-line{
    color: darkgoldenrod;
}
p::first-letter{
    font-size: 30px;
    color: brown;
}
h1{
    border: 2px solid rebeccapurple;
}
h1::before{
    content: url(images/my\ intro.jpg);
} */
 


/* transaction */
.box{
    border: 2px solid black;
    background-color: yellow;
    height: 100px;
    width: 100px;
    transition: all 1s ease-in;
}

.box:hover{
    background-color: aqua;
    font: 300;
    height: 400px;
    width: 400px;
}