#parent{
    height: 400px;
    width: 400px;
    margin-top: 20px;
    margin-left: 400px;
    background-color: blue;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#child{
    height: 200px;
    width: 200px;
    background-color: burlywood;
    border: 2px solid red;
}