*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar start here  */

.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.911);
     box-shadow: rgba(0, 0, 0, 0.144) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     position: relative;
    }

.firstnav{
    width: 25%;
margin-top: 10px;
 font-size: larger;
}
.book{
    margin-left: 20px;
}
.secondnav{
    display: flex;
    width: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
.thirdnav{
    /* display: flex; */
    width: 8%;
    margin-right: 25px;
    margin-top: 20px;
    /* margin-right: 10px; */
}
.thirdnav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 5px;
}
.secondnav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: larger;
    height: 37px;
    /* border-radius: 10px; */
}
.secondnav ul li{
    justify-content: space-between;
    /* display: flex; */
    margin-left: 25px;
    margin-top: 7px;
    font-weight: normal;
    /* font: size 200px;; */
    /* list-style: none;
    justify-content: space-around; */
}
.secondnav ul :hover{
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
    /* width: 50px; */
    color: white;
}
#searchicon{
    background-image: url("https://icons.iconarchive.com/icons/icons8/windows-8/512/Very-Basic-Search-icon.png");
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
    margin-right: 2px;
    margin-top: 2px;
}

#addcart{
    background-image: url("https://media.istockphoto.com/id/1994666187/vector/add-to-cart.jpg?s=612x612&w=0&k=20&c=3dKQh6logiBchMqmGQUnBgeI6D2cMkE-ikGi7Li-t1o=");
     background-position: center;
    background-size: cover;
     height: 30px;
     margin-right: 2px;
    width: 30px;
}

#About{
    background-image: url("https://img.freepik.com/premium-vector/about-icon_1178600-13783.jpg");
     background-position: center;
    background-size: cover;
     height: 29px;
     margin-right: 2px;
    width: 29px;
}

 /* main section start here  */
 .main{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/16/09/bible-1846174_960_720.jpg");
    background-position: center;
    background-size: cover;
    height: 520px;
    width: 100%;
    /* text-align: center; */
    
 }
 .main1{
    height: 250px;
    text-align: center;
    width: 250px;
    /* margin-top: 70px; */
    margin-left: 500px;
    padding-top: 150px;
    /* color: white; */
 }
 .this{
    margin-top: 5px;
 }
 .para1{
    margin-top: 7px;
 }
 #find{
    margin-top: 8px;
    height: 45px;
    width: 90px;
    border: 2px solid black;
    border-radius: 7px;
 }
#find:hover{
    cursor: pointer;
    background-color: black;
    color: white;

}

/* midmain start here  */
.midmain{
    height: 500px;
    width: 99%;
    margin-top: 7px;
    margin-left: 7px;
    border: 1px solid black;
    text-align: center;
        box-shadow: rgba(0, 0, 0, 0.144) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.new1{
    margin-top: 12px;
}
.para2{
    margin-top: 5px;
}
.images1{
    height: 220px;

    width: 99%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.img1{
    height: 70px;
    width: 10%;
}
.imgd{
    height: 200px;
    width: 100%;
    background-image: url("https://neverenoughnovels.com/wp-content/uploads/2025/09/hot-desk-200x300.jpg");
    /* background-position: center; */
    /* background-size: cover; */
    border: 2px solid navy;
}

.content{
    margin-top: 20px;
}
#desk{
    margin-top: 50px;
}
.img2{
    height: 230px;
    width: 18%;
    /* border: 2px solid navy; */
     background-image: url("https://www.saraspublication.com/wp-content/uploads/2018/08/9789384826833-scaled.jpg");
    background-position: center;
    background-size: cover;
}
.img3{
    height: 230px;
    width: 18%;
    /* border: 2px solid navy; */
     background-image: url("https://www.saraspublication.com/wp-content/uploads/2018/08/9789382459774.jpg");
    background-position: center;
    background-size: cover;

}
.img4{
    height: 230px;
    width: 18%;
    /* border: 2px solid navy; */
     background-image: url("https://www.saraspublication.com/wp-content/uploads/2018/08/9789382459873-scaled.jpg");
    background-position: center;
    background-size: cover;

}
.img5{
    height: 230px;
    width: 18%;
    /* border: 2px solid navy; */
      background-image: url("https://www.saraspublication.com/wp-content/uploads/2019/10/9789386519573-scaled.jpg");
    background-position: center;
    background-size: cover;

}