*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background: #39297b;
    color: #fff;
}

h1{
    margin: 100px auto 50px;
    font-weight: 600;
    text-align: center;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #434989;
    display: flex;
     align-items: center;
     border-radius: 8px;
}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;

}
form button{
    padding: 0 40px;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder{
    font-size: 18px;
    color: #fff;
}
#show-more-btn{
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}